<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>18/08/02 12:21:55</td>   <td>0</td> <td title="&gt;&gt;AppTest.startappium()[pri:0, instance:Automation.AppTest@7494e528]">&gt;&gt;startappium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/08/02 12:22:02</td>   <td>7079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test()[pri:0, instance:Automation.AppTest@7494e528]">test</td> 
  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/08/02 12:22:19</td>   <td>24554</td> <td title="&lt;&lt;AppTest.stopServer()[pri:0, instance:Automation.AppTest@7494e528]">&lt;&lt;stopServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1150538133</td>   <td></td> </tr>
</table>
