<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>18/08/02 12:44:51</td>   <td>0</td> <td title="&gt;&gt;AppTest.startappium()[pri:0, instance:Automation.AppTest@77cd7a0]">&gt;&gt;startappium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/08/02 12:46:34</td>   <td>103641</td> <td title="&lt;&lt;AppTest.stopServer()[pri:0, instance:Automation.AppTest@77cd7a0]">&lt;&lt;stopServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690254271</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>18/08/02 12:44:58</td>   <td>7128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test()[pri:0, instance:Automation.AppTest@77cd7a0]">test</td> 
  <td>main@1690254271</td>   <td></td> </tr>
</table>
